<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Only used to check GitHub for a newer version. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:label="STL Вага"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- "Відкрити за допомогою…" для STL / 3MF -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="model/stl" />
                <data android:mimeType="model/x.stl-binary" />
                <data android:mimeType="model/x.stl-ascii" />
                <data android:mimeType="application/sla" />
                <data android:mimeType="application/vnd.ms-pki.stl" />
                <data android:mimeType="model/3mf" />
                <data android:mimeType="application/vnd.ms-package.3dmanufacturing-3dmodel+xml" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/zip" />
            </intent-filter>

            <!-- "Поділитися" з Telegram, Viber, файлових менеджерів тощо -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="model/stl" />
                <data android:mimeType="application/sla" />
                <data android:mimeType="application/vnd.ms-pki.stl" />
                <data android:mimeType="model/3mf" />
                <data android:mimeType="application/vnd.ms-package.3dmanufacturing-3dmodel+xml" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/zip" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
